<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353802290735-t8u5t6jjbn99emo37b29u3si7spibvi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353802290735-t8u5t6jjbn99emo37b29u3si7spibvi9</string>
	<key>API_KEY</key>
	<string>AIzaSyAWyoFnWdOc0lYbg0IZCmqZ7zxpcyvYnfs</string>
	<key>GCM_SENDER_ID</key>
	<string>353802290735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DeokHo98.Instargram-Clone</string>
	<key>PROJECT_ID</key>
	<string>project-clone-instargram</string>
	<key>STORAGE_BUCKET</key>
	<string>project-clone-instargram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353802290735:ios:bf8092139061317b1428da</string>
</dict>
</plist>